body {
    background-color: aliceblue;
    
    align-items: center;
    align-content: center;
    display: inline-block;
  
    
}

form {
    border: 5px solid;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    background-color: grey;
   
    

}

 .main {
  
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    
    
    margin-left: 50%;
    margin-right: 50%;
  align-items: center;
  align-content: center;

}
p {
    color:white;

}